html {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 100vh;
}
.container {
  background-color: #f5f5f5;
}
form {
  margin-top: 8px;
}
input[type="text"], input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 8px;
  padding: 7px 9px;
}
input[type="submit"] {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
}