<!DOCTYPE html>

<head>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div class="container">
    <div>
      <h2>Change Password</h2>
    </div>
    <form action="/password" method="post">
      <label for="oldpassword">Current password:</label>
      <input type="password" name="oldpassword" autofocus></input><br>

      <label for="newpassword">New password:</label>
      <input type="password" name="newpassword"></input><br>

      {% if not valid %}
      <div style="color: red;">User password is incorrect</div>
      {% endif %}

      {% if empty %}
      <div style="color: red;">New password cannot be empty</div>
      {% endif %}

      <input type="hidden" name="first" value=False>

      <div>
        <input type="submit" value="Change" />
      </div>
    </form>
  </div>
</body>

</html>